* {
    margin: 0;
    padding: 0;
    font-style: sans serif;
    box-sizing: border-box;
}



.row {
    max-width: 1140px;
    margin: 0 auto;
}


header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/david-schultz-6LIqs_kKu3c-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
}

header nav {
    background-color: #e8e8e8;
}


.logo {
    text-decoration: none;
    font-weight: 800;
    font-size: 2em;
    color: #fff;
    position: absolute;
    margin-top: 5px;
}
nav ul li {
    float: right;
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
    color: #fff;
    margin-bottom: 10px;
}

span {
    color: palevioletred;
}

.about {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%)
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.contacts img {
    border-radius: 300px;
    width: 300px;
    height: 300px;
    float: right;
}


.icon-link {
    background-color: black;
}

