* {
    margin: 0;
    padding: 0;
    font-style: sans serif;
    box-sizing: border-box;
}

.row{
    max-width: 1140px;
    margin:0 auto;
}

.logo {
    text-decoration: none;
    font-weight: 600;
    font-size: 2em;
    color: white;
}
span {
    color: darkorange;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/david-schultz-6LIqs_kKu3c-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.about {
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform:translate(-50%, -50%)
}
.github {
    position: absolute;
    top: 160%;
    left: -40%;
    
}


